force-app/main/default/flows/Set_priority_on_deleted_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Set priority on deleted opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set priority on deleted opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_level_to_Account</name>
        <label>Set level to Account</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_level__c</field>
            <value>
                <elementReference>Check_all_Opportinities_and_set_Account_Level.Account_level</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_all_Opportinities_and_set_Account_Level</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_all_Opportinities_and_set_Account_Level</name>
        <label>Check all Opportinities and set Account Level</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Set_level_to_Account</targetReference>
        </connector>
        <flowName>Subflow_for_Account_priority_flow</flowName>
        <inputAssignments>
            <name>Account_level</name>
        </inputAssignments>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opportunity_to_skip_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
