force-app/main/default/flows/Set_account_priority.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_if_high_level_exists</name>
        <label>Check if high level exists</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Set_low_priority_to_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_high</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_all_Opportunities_on_Account.Account_level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_high_priority_of_account_0</targetReference>
            </connector>
            <label>If high</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_high_or_low_Level_exist</name>
        <label>Check if high or low Level exist</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Set_low_level_to_Account_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_all_Opportunities_on_Account_0.Account_level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_high_priority_of_account_0_0</targetReference>
            </connector>
            <label>High</label>
        </rules>
        <rules>
            <name>Low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_all_Opportunities_on_Account_0.Account_level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_low_priority_to_Account_0</targetReference>
            </connector>
            <label>Low</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_which</name>
        <label>Select which level to setup</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_all_Opportunities_on_Account_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount_is_greater_than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_high_priority_of_account</targetReference>
            </connector>
            <label>Greater</label>
        </rules>
        <rules>
            <name>Is_less_than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_all_Opportunities_on_Account</targetReference>
            </connector>
            <label>Less</label>
        </rules>
    </decisions>
    <interviewLabel>Set account priority {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set account priority</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_high_priority_of_account</name>
        <label>Set high priority of Account</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account_level__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_level__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_high_priority_of_account_0</name>
        <label>Set high priority of Account</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account_level__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_level__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_high_priority_of_account_0_0</name>
        <label>Set high priority of Account</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account_level__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_level__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_low_level_to_Account_0</name>
        <label>Set neutral level to Account</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_level__c</field>
            <value>
                <stringValue>Neutral</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_low_priority_to_Account</name>
        <label>Set low priority to Account</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_level__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_low_priority_to_Account_0</name>
        <label>Set low priority to Account</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_level__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_which</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_all_Opportunities_on_Account</name>
        <label>Check all Opportunities on Account</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Check_if_high_level_exists</targetReference>
        </connector>
        <flowName>Subflow_for_Account_priority_flow</flowName>
        <inputAssignments>
            <name>Account_level</name>
        </inputAssignments>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opportunity_to_skip_id</name>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Check_all_Opportunities_on_Account_0</name>
        <label>Check all Opportunities on Account</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Check_if_high_or_low_Level_exist</targetReference>
        </connector>
        <flowName>Subflow_for_Account_priority_flow</flowName>
        <inputAssignments>
            <name>Account_level</name>
        </inputAssignments>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opportunity_to_skip_id</name>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
