force-app/main/default/flows/Subflow_for_Account_priority_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_high_level_to_Variable</name>
        <label>Set high level to Variable</label>
        <locationX>1018</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Account_level</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_low_level_to_Variable</name>
        <label>Set low level to Variable</label>
        <locationX>1282</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Account_level</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_all_oppotrunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_neutral_level_to_Variable</name>
        <label>Set neutral level to Variable</label>
        <locationX>798</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Account_level</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Neutral</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_neutral_level_to_Variable_0</name>
        <label>Set neutral level to Variable</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Account_level</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Neutral</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_opportunities_exist</name>
        <label>Check opportunities exist</label>
        <locationX>490</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Check_all_oppotrunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_list_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_owner_opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_neutral_level_to_Variable_0</targetReference>
            </connector>
            <label>If list is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_which_level_to_setup</name>
        <label>Check which level to setup</label>
        <locationX>1282</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Check_all_oppotrunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_all_oppotrunities.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_high_level_to_Variable</targetReference>
            </connector>
            <label>Greater</label>
        </rules>
        <rules>
            <name>Less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_all_oppotrunities.Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_low_level_to_Variable</targetReference>
            </connector>
            <label>Less</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_level_is_not_low</name>
        <label>If level is not low</label>
        <locationX>930</locationX>
        <locationY>1070</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_level</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_neutral_level_to_Variable</targetReference>
            </connector>
            <label>If not low</label>
        </rules>
    </decisions>
    <interviewLabel>Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow for Account priority flow</label>
    <loops>
        <name>Check_all_oppotrunities</name>
        <label>Check all oppotrunities</label>
        <locationX>930</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_owner_opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_which_level_to_setup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_level_is_not_low</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_owner_opportunities</name>
        <label>Get owner opportunities</label>
        <locationX>490</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_opportunities_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Opportunity_to_skip_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_owner_opportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_level</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunity_to_skip_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
